# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# docs

kingsmp_guide.txt
smp_ideas.md
kingsmp_new.md
KingSMP_Guide.md
KingSMP_Master_Specification_And_Balance.md
KingSMP_Economy_And_Balance_Master_Doc.md